{% load static %}

<nav class="navbar navbar-expand-lg bg-body-primary">
  <div class="container-fluid" style="background-color: rgb(116,24,159);height: 60px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <div style="width: 250px;color: white;">
        <img style="width: 50px; height: 50px;border-radius: 25px;margin-left: 5px;display: inline;"
          src="{% static 'images/logo.png' %}" alt="">
        <h3 style="cursor: pointer;margin-left: 10px;display: inline;" class="nom">Pro Gramming</h3>
      </div>
      <!-- <h5 class="nom" style="color: white;">Pro Gramming</h5> -->
      <div style="text-align: left;width: 270px;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <h5><a class="nav-link active" aria-current="page" href="{% url 'course_app:home' %}"
                style="width: 130px;color: white;border-radius: 10px;background-color: rgb(209,200,201);margin: 5px;text-align: center;color: rgb(116,24,159);padding-left: 20px;padding-right: 20px;"><i
                  class="bi bi-house"></i> Home</a></h5>
          </li>
          {% if request.user.is_staff %}
          <h5>
            <a class="nav-link active" aria-current="page" href="#"
              style="width: 130px;color: white;border-radius: 10px;background-color: rgb(209,200,201);margin: 5px;text-align: center;color: rgb(116,24,159);padding-left: 20px;padding-right: 20px;"><i
                class="bi bi-person-circle"></i> Admin</a>
          </h5>
          {% endif %}
        </ul>
      </div>
      <div style="position: relative;left: 660px;bottom: 5px;">
        <a href="{% url 'users:sign_or_log' %}">
          <button type="button"
            style="width: 150px;border-radius: 10px;padding: 3px;color: white;background-color: orangered;">Sign
          </button>
        </a>
      </div>
    </div>
  </div>
</nav>